section {
    &:not(#index-header) {
        padding: 6rem 0;
    }
}

.accent-container {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        bottom: 1.5rem;
        right: 1.5rem;
        width: 45px;
        height: 45px;
        background: url("../media/elements/corner-accent.svg") no-repeat center center / cover;
        opacity: 0.65;
        z-index: 1;
    }

    &-top {
        &::before {
            bottom: auto;
            right: auto;
            top: 1.5rem;
            left: 1.5rem;
            transform: rotate(180deg);
        }
    }
}

textarea {
    resize: none;
}

.skip-link {
    z-index: 9999;
}

a,
button,
input,
textarea {
    &:focus {
        outline: none !important;
    }

    &:focus-visible {
        @include focus-styles;
    }

    &.btn {
        &:focus-visible {
            outline-offset: -3px !important;
        }
    }
}
