h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1,
h2 {
    font-weight: 600 !important;
}

p,
li {
    text-wrap: pretty;
}

.font-primary-bold,
.lead {
    font-weight: 500;
}

.section-heading {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $primary;
        z-index: 0;
        transition: width 0.5s ease-in-out;
    }

    &::before {
        top: -0.5rem;
        left: 0;
    }

    &::after {
        bottom: -0.5rem;
        right: 0;
    }

    .bg-primary & {
        &::before,
        &::after {
            background-color: $secondary;
        }
    }

    &.animate {
        &::before,
        &::after {
            width: 50%;
        }
    }
}
