.carousel {
    .carousel-pause-play-btn {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid $white;
        background-color: $primary;
        line-height: 1;
        z-index: 999;
        transition: opacity 0.25s ease-in-out;

        i {
            color: $white !important;
            line-height: 1;

            &::before {
                line-height: 1;
                vertical-align: top;
            }
        }

        &:hover,
        &[aria-pressed="true"] {
            opacity: 0.7;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        width: fit-content;
        height: fit-content;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.5rem 0.25rem;
        background-color: $primary;
        border: 2px solid $white;
        opacity: 1;
        transition:
            transform 0.25s ease-in-out,
            background-color 0.25s ease-in-out;

        @include media-breakpoint-up(sm) {
            display: block;
        }

        &:hover {
            background-color: lighten($primary, 12%);
        }
    }

    .carousel-control-prev {
        left: -1.25rem;

        &:hover {
            transform: translate(-6px, -50%);
        }
    }
    .carousel-control-next {
        right: -1.25rem;

        &:hover {
            transform: translate(6px, -50%);
        }
    }
}
